body {
    background-image: url('../images/bg-image.gif')
}

@font-face {
    font-family: Death-Star;
    src: url('../fonts/death_star/Death-Star.otf');
}

@font-face {
    font-family: aliens-and-cows;
    src: url('../fonts/zetafonts_aliens-and-cows/aliens-and-cows.ttf');
}

#RPGTitle {
    color: white;
    text-align: center;
    font-weight: 900;
    font-size: 50px;
}

#mainTitle {
    font-family: Death-Star, sans-serif;
    color: white;
    text-align: center;
    font-size: 85px;
    text-shadow: 7px 7px 7px black;
}

/*Where characters are appended initially*/
#characters {
    width: 100%;
    display: inline-block;
}

.character {
    font-family: aliens-and-cows, sans-serif;
    font-size: 40px;
    float: left;
    text-align: center;
    display: block;
    width: 200px;
    margin: 10px 0;
}

/*hover effect for all characters*/
.character:hover {
    -webkit-animation: neonGreen 1.5s ease-in-out infinite alternate;
    -moz-animation: neonGreen 1.5s ease-in-out infinite alternate;
    animation: neonGreen 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neonGreen {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #2ff923, 0 0 70px #2ff923, 0 0 80px #2ff923, 0 0 100px #2ff923, 0 0 150px #2ff923;
    }

    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #2ff923, 0 0 35px #2ff923, 0 0 40px #2ff923, 0 0 50px #2ff923, 0 0 75px #2ff923;
    }
}

/*==================================*/

.characterName,
.characterHealth {
    color: white;
    width: 100%;
    margin: 0 auto;
}

/*hover character name */
.yourCharacter .characterName {
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon2 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }

    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
}

.currentEnemy .characterName {
    -webkit-animation: enemy 1.5s ease-in-out infinite alternate;
    -moz-animation: enemy 1.5s ease-in-out infinite alternate;
    animation: enemy 1.5s ease-in-out infinite alternate;
}

.enemy:hover {
    -webkit-animation: enemy 1.5s ease-in-out infinite alternate;
    -moz-animation: enemy 1.5s ease-in-out infinite alternate;
    animation: enemy 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes enemy {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff0101, 0 0 70px #ff0101, 0 0 80px #ff0101, 0 0 100px #ff0101, 0 0 150px #ff0101;
    }

    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff0101, 0 0 35px #ff0101, 0 0 40px #ff0101, 0 0 50px #ff0101, 0 0 75px #ff0101;
    }
}



.characterHealth {
    font-family: sans-serif;
    font-size: 20px;
}


.image {
    width: 100%;
    display: block;
    margin: auto;
    -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
}

.title {
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: aliens-and-cows, sans-serif;
    text-decoration: underline;
}

/*Picking a character*/
.yourCharacter,
.currentEnemy {
    font-family: aliens-and-cows, sans-serif;
    font-size: 40px;
    clear: all;
    text-align: center;
    display: block;
    width: 250px;
    margin: 10px auto;
}

.enemy {
    font-family: aliens-and-cows, sans-serif;
    font-size: 30px;
    clear: all;
    text-align: center;
    display: inline-block;
    width: 200px;
    margin: 10px 95px;

}

#lightSabers {
    margin-top: 60px;
    width: 100%;
}

.restart {
    text-align: center;
}

.restartBtn {
    margin-top: 300px;
}
